@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

:root {
    --evosoft-color: #749c3b;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    height: 130px;
}

.menu-logo {
    position: absolute;
    width: auto;
    height: 130px;
    margin: 5px;
    left: 15px;
}

/* Login Signin buttons */
.login-button {
    margin-right: 20px;
}

.login-button,
.signin-button {
    /* background-color:#44c767; */
    border-radius: 28px;
    border: 2px solid var(--evosoft-color);
    color: var(--evosoft-color);
    display: block;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.5);
    align-self: center;
}

.signin-button:hover,
.login-button:hover {
    background-color: var(--evosoft-color);
    color: white;
    transition: ease-in 0.2s;
}

.logged-in {
    justify-content: flex-end;
    display: none;
    left: 180px;
    width: 500px;
    align-self: center;
}

.welcome-user {
    margin-top: 20px;
}

.logged-in__img {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.logout__img {
    margin-top: 23px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Shopping cart */
.cart-wrap {
    margin: 20px;
    position: relative;
    justify-self: flex-end;
    height: 50px;
    width: 50px;
    align-self: center;
    z-index: 1;
}
.calorie-button {
    border-radius: 28px;
    border: 2px solid var(--evosoft-color);
    color: var(--evosoft-color);
    display: block;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    align-self: center;
    margin: 5px;
}
.cart-img {
    height: 0px;
    width: 50px;
}

.cart-img:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    transition: ease-in 0.2s;
}

.shopping-cart:hover,
#shopping-cart-counter:hover,
.buy-item:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    transition: ease-in 0.2s;
}

#shopping-cart-counter {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 1px;
    vertical-align: top;
    color: red;
    font-size: 14px;
}

#shopping-cart-counter:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.cart-items-wrap {
    position: absolute;
    height: auto;
    width: 350px;
    background-color: rgb(227, 255, 251);
    z-index: 1;
    right: 0;
    top: 70px;
    display: none;
    border-radius: 10px;
    box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.408);
}

.cart-items-wrap__arrow {
    position: absolute;
    top: -15px;
    left: 305px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(227, 255, 251);
    width: 0;
    height: 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.034) 0 2px 10px);
    z-index: 2;
}

.divider-cart-start {
    position: relative;
    margin-top: 10px;
    height: 1px;
    width: 310px;
    left: 25px;
}

.divider-cart {
    position: relative;
    height: 1px;
    margin-bottom: 50px;
}

.cart-item {
    position: relative;
    height: 90px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cart-item-name {
    font-family: 'Montserrat', sans-serif;
}

.cart-item-modify {
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.delete-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("/img/deleteIcon.png");
}

.delete-icon:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 0.9px rgba(0, 0, 0, 0.349));
    transition: ease-in 0.2s;
}

.item-quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.quantity-value::after {
    content: ' db';
}

.plus {
    font-size: 30px;
    width: 15px;
}

.minus {
    position: relative;
    font-size: 40px;
    width: 30px;
    bottom: 2px;
}

.cart-item-price::after {
    content: ' Ft';
}

.divider {
    margin: 20px !important;
}

.cart-pay-info {
    text-align: center;
    margin: 10px;
}

.cart-pay-info p {
    display: inline;
    margin: 5px;
}

#cart-pay-amount {
    font-weight: bold;
}

#cart-pay-amount::after {
    content: ' Ft';
}

.pay-button {
    position: relative;
    width: 97px;
    font-size: 15px;
    padding: 10px 20px;
    left: 110px;
    margin: 10px;
    box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.408);
    text-shadow: 0 1px 8px rgb(255, 255, 255);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

/* Separator Line */
.wrapper {
    padding-bottom: 0.1px;
}

.divider {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

/* Banner */
.banner-container {
    background: linear-gradient(to bottom, rgba(146, 146, 146, 0.589) 25%, transparent),
        url("/img/FoodBanner.jpg") center/cover no-repeat border-box,
        #ff1b68;
    width: 100vw;
    height: 70vh;
    position: relative;
    display: grid;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
    font-size: 70px;
    display: block;
    grid-column: 1;
    grid-row: 1;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: bigger 1.5s;
}

.weekly-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
    font-size: 50px;
    display: block;
    grid-column: 1;
    grid-row: 1.2;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #607c39e3;
    box-shadow: 10px 10px 28px -5px rgba(0, 0, 0, 0.75);
    height: 70px;
    width: 300px;
    margin-left: 40%;
    /*animation: bigger 1.5s;*/
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}

.menu-food {
    list-style-type: none;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1rem;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #607c39e3;
    vertical-align: middle;
    box-shadow: 10px 10px 28px -5px rgba(0, 0, 0, 0.75);

}

.menu-food:hover {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, -1px -3px 20px #CE5937;
    cursor: pointer;
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
    background-color: #607c39a9;
    overflow: hidden;

}

/* Sort food */
.search_categories {
    grid-column: col1-end / col2-start;
    grid-row: row1-start / row1-end;
    justify-self: end;
    font-size: 0.9rem;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    margin-right: 65px;
}

.search_categories .select {
    width: 100%;
}

.search_categories .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
}

/* Plusz étel/ital választás */
.choose-food-container {
    width: 100vw;
    height: auto;
    margin: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: [col1-start] 196px [col1-end] auto [col2-start] 10px;
    grid-template-rows: [row1-start] 50px [row1-end] auto [row2-start];
}

.food-category-title {
    grid-column: col1-start / col1-end;
    grid-row: row1-start / row1-end;
    color: #212529;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    justify-self: start;
    align-self: center;
}

.c-filter-box__checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.checkbox:active,
.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: -1px;
    left: 3px;
    color: var(--evosoft-color);
}

.search-option {
    position: absolute;
    font-size: 1rem;
    vertical-align: top;
    top: 4px;
    left: 33px;
}

.filter-box {
    grid-column: col1-start / col1-end;
    grid-row: row1-end / row2-start;
}

.foods-container {
    grid-column: col1-end / col2-start;
    grid-row: row1-end / row2-start;
    margin-right: 50px;
    margin-bottom: -60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: flex-start; */
}

/* Pizza container*/

.dynamic-food,
.dynamic-pizza {
    position: relative;
    background-color: rgba(1, 78, 1, 0.462);
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 0px;
    border-radius: 10px;
    margin: 10px;
}

.dynamic-notMenu {
    position: relative;
    background-color: rgba(92, 100, 92, 0.685);
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 0px;
    border-radius: 10px;
    margin: 10px;
}

/* Pizza tooltip */

.tooltip {
    position: relative;
    height: 20px;
    width: 20px;
    bottom: 285px;
    right: 105px;
    background-image: url("/img/info-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.803);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    top: 30px;
    left: -40px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.Ptooltip {
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 280px;
    right: 110px;
    margin-top: -20px;
    background-image: url("/img/info-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.Ptooltip .Ptooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.803);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    top: 30px;
    left: -40px;
    z-index: 1;
}

.Ptooltip:hover .Ptooltiptext {
    visibility: visible;
}
/* pizza image */
.pizza-item-img,
.food-item-img {
    width: 160px;
    margin-top: 15px;
    background-image: url("/img/foodItem.png");
}

.new-product-badge {
    background-image: url("/img/newBadge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 146px;
    width: 140px;
    height: 140px;
    top: -15px;
}

.pizza-title,
.food-title {
    font-weight: 900;
    margin: 20px;
    text-align: center;
}

.all-buttons-wrap {
    display: flex;
    width: 270px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.button-wrap {
    width: 80px;
    height: 80px;
    line-height: 2.4rem;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(189, 216, 189);
}
/* ratings */
.button-pizzaRating {
    border-radius: 10px;
    border: 0px;
    margin-right: 130px;
    margin-bottom: -5px;
    height: 20px;
    width: 120px;
    bottom: -30px;
    margin-top: -5px;
    background-color: rgb(189, 216, 189);
}
.button-pizzaNewRating {
    border-radius: 10px;
    border: 0px;
    margin: -5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: -125px;
    height: 20px;
    width: 120px;
    bottom: -15px;
    margin-top: -15px;
    background-color: rgb(189, 216, 189);

}

.button-foodRating {
    border-radius: 10px;
    border: 0px;
    margin-right: 130px;
    margin-bottom: -15px;
    height: 20px;
    width: 120px;
    bottom: -40px;
    background-color: rgb(189, 216, 189);
}
.button-foodNewRating {
    border-radius: 10px;
    border: 0px;
    margin: -5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: -125px;
    height: 20px;
    width: 120px;
    bottom: 0px;
    background-color: rgb(189, 216, 189);
}

.starButton {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
.size-name {
    text-align: center;
    margin: 3px;
    height: 25px;
    font-size: 15px;
}

.pizza-price {
    padding: 0;
    margin: auto;
    width: 70px;
    height: 55px;
    background-color: transparent;
    color: #000000;
    font-size: 1.0rem;
    border: none;
    display: block;
    font-weight: 600;
    outline: none;
}

.pizza-price:hover {
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.712);
    cursor: pointer;
    overflow: hidden;
}

.pizza-price::after,
.food-price::after {
    content: ' Ft';
}

/* food container */
.food-price {
    margin-top: -10px;
}

.buy-item {
    height: 39px;
    margin: 0;
    background-image: url("/img/shopping-cart.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.buy-item:active,
.pizza-price:active {
    transform: translateY(5px);
  }

   
/* Effects */
@keyframes bigger {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 70px;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}
