div.FoodCard {
    background-color: rgba(1, 78, 1, 0.462);
    height: 350px;
    width: 270px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

div.FoodCard .FoodCardIcon {
    font-size: 100px;
    margin-top: 15px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
    z-index: -10;
}

div.FoodCard .FoodCardTitle,
.FoodCardPizzaPrice {
    font-weight: bold;
}

.FoodCardTitle {
    text-align: center;
    line-height: 25px;
}

.FoodCardInfo {
    position: absolute;
    left: 12.5px;
    top: 12.5px;
    font-size: 20px;
}

.FoodCardInfo:hover {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
    transition: ease-in 0.1s;
    cursor: pointer;
    color: white;
}

div.FoodCard .FoodCardSimpleBuyIcon {
    font-size: 40px;
}

.FoodCardSimplePrice::after,
.FoodCardPizzaPrice::after {
    content: " Ft";
}

.FoodCardPizzaPriceFlexbox {
    display: flex;
}

.FoodCardNotAvail {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
    font-weight: 500;
    color: white;
}

.FoodCardPizzaPriceContainer {
    border-radius: 10px;
    margin: 5px;
    background-color: #bdd8bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    width: 70px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

div.FoodCard .FoodCardSimpleBuyButton {
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: -5px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
    color: #dde9dd;
}

div.FoodCard .FoodCardRatingButton {
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    background-color: #bdd8bd;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 13px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

div.FoodCard .FoodCardRatingButton:hover {
    background-color: #a8cba8;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
    transition: ease-in 0.1s;
    cursor: pointer;
    color: white;
}

div.FoodCard .FoodCardSimpleBuyButton:hover,
.FoodCardPizzaPriceContainer:hover {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.35));
    transition: ease-in 0.1s;
    cursor: pointer;
}

.FoodCardPizzaPriceContainer:hover .FoodCardPizzaPrice,
.FoodCardSimpleBuyButton:hover {
    color: white;
}

.FoodCardInfoText {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
  
.FoodCardInfoText {
    visibility: hidden;
    min-width: 250px;
    background-color: hsla(0, 0%, 0%, 0.85);
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 7.5px 10px;
    position: absolute;
    z-index: 10;
    top: -15px;
    left: 25px;
}

.FoodCardInfo:hover .FoodCardInfoText {
    visibility: visible;
}