@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

*:focus {
    outline: none;
}

* {
    border-width:0px;
    border:none;
}

.Signinbody {
    background:radial-gradient(ellipse at center, rgba(255, 255, 255, 0.603) 100%,
        rgba(245, 245, 245, 0.733) 100%,
        rgb(237, 237, 237) 100%), 
        url("people_eating_food.jpg") top/cover no-repeat border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gudea', sans-serif;
    margin: 0;
    height: 100vh;
}

.signin-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 660px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background: -webkit-linear-gradient(top, #77bd75fd, #e3ffe2b6);
    align-items: center;
}

.image-wrap img{
    width: 100px;
    height: 100px;
    
}

/* Title */
.title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    margin: 5px;
}

/* Backend error message */
#backend-error {
    background-color: rgba(255, 0, 0, 0.699);
    width: 939px;
    height: 25px;
    color: white;
    text-align: center;
    box-shadow: -1px 2px 11px -3px rgba(0,0,0,0.75);
    margin: 5px;
    display: none;
    border-radius: 3px;
}

/* Input */
.input_container {
    width: 400px;
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}

input {
    width: 80%;
    border-bottom: 1px solid rgba(0, 116, 72, 0.5);
    background: none;
    padding: 8px 2px;
    outline: 0;
    position: relative;
    top: 0px;
    right: -30px;
    height: 15px;
    line-height: 1.5em;
    margin: 2px;
}

.input-focus-label {
    color: white;
    font-size: 70%;
    z-index: 2;
    text-transform: uppercase;
    top: -5px;
    left: 54px;
}

input:hover {
    cursor: pointer;
}

/* label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 55px;
    width: 350px;
    height: 0px;
} */

/* input:focus + label, textarea:focus + label {
    color: white;
    font-size: 50%;
    z-index: 2;
    text-transform: uppercase;
    top: -5px;
    left: 54px;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 0px 0px 4px #000000;
} */

.edit{
    color: white;
    font-size: 70%;
    z-index: 2;
    text-transform: uppercase;
    top: -8px;
    left: 54px;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 0px 0px 4px #000000;
}

input:focus {
    padding-top: 10px;
}

.signin-data-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 0px;
}

.signin-data-container1,
.signin-data-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    width: 350px;
}


.signin_input_container { 
    position:relative;
    padding:0;
    margin:-10px;
    width: 400px;
    height: 100px;
}

.invalid-input {
    position: relative;
    left: 50px;
    font-size: 12px;
    color: red;
    display: block;
    margin: 0;
}

/* Button */
.signIn-button {
    margin-top: -80px;
    margin-left: 250px;
    font-family: 'Gudea', sans-serif;
	border-radius:28px;
    border: 2px solid #18ab29;
    color: #18ab29;
	display: inline-block;
	cursor: pointer;
	/* color:#ffffff; */
	font-size: 17px;
	padding: 16px 31px;
    text-decoration: none;
}

.signIn-button:hover{
    background-color: #18ab29;
    color: white;
}

.psw_eye{
    position: relative;
    left: 260px;
    top: -25px;
}
