@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

*:focus {
    outline: none;
}

* {
    border-width:0px;
    border:none;
}

body {
    background:radial-gradient(ellipse at center, rgba(255, 255, 255, 0.603) 100%,
        rgba(245, 245, 245, 0.733) 100%,
        rgb(237, 237, 237) 100%), 
        url("../img/friends-eating-food.jpg") top/cover no-repeat border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gudea', sans-serif;
    margin: 0;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 55px 55px;
    background: -webkit-linear-gradient(top, #77bd75fd, #e3ffe2b6);
    align-items: center;
}

.image-wrap img{
    width: 150px;
    height: 150px;
    
}

/* Title */
.title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    margin: 5px;
    margin-bottom: 30px;
}

/* Backend error message */
#backend-error {
    background-color: rgba(255, 0, 0, 0.699);
    width: 510px;
    height: auto;
    text-align: center;
    box-shadow: -1px 2px 11px -3px rgba(0,0,0,0.75);
    margin: 5px;
    display: none;
    border-radius: 3px;
    color: white;
}

/* Input */
.input_container {
    width: 400px;
    position: relative;
}

input {
    width: 60%;
    border-bottom: 1px solid rgba(0, 116, 72, 0.5);
    background: none;
    padding: 8px 12px;
    outline: 0;
    position: relative;
    top: 0px;
    right: -50px;
    height: 23px;
    line-height: 1.5em;
    margin: 2px;
}

.input-focus-label {
    color: white;
    font-size: 70%;
    z-index: 2;
    text-transform: uppercase;
    top: -5px;
    left: 54px;
}

input:hover {
    cursor: pointer;
}

label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 55px;
    width: 85px;
    height: 0px;
}

input:focus + label, textarea:focus + label {
    color: white;
    font-size: 70%;
    z-index: 2;
    text-transform: uppercase;
    top: -5px;
    left: 54px;
}

input:focus {
    padding-top: 10px;
}

.signin-data-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.input_container { 
    position:relative;
    padding:0;
    margin:10px;
}

.input_img {
    position:absolute;
    bottom:5px;
    left:6px;
    width:15px;
    height:15px;
}

.input_img_pw {
    width:12px;
    left:8px;
}

.invalid-input {
    position: relative;
    left: 50px;
    font-size: 12px;
    color: red;
    display: none;
    margin: 0;
}

/* Button */
.signin-button {
    margin-top: 30px;
    font-family: 'Gudea', sans-serif;
	border-radius:28px;
    border: 2px solid #18ab29;
    color: #18ab29;
	display: inline-block;
	cursor: pointer;
	/* color:#ffffff; */
	font-size: 17px;
	padding: 16px 31px;
    text-decoration: none;
}

.signin-button:hover{
    background-color: #749c3b;
    color: white;
}