.CreateRating {
    background-color: #afecade1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.CreateRating h3 {
    font-weight: 700;
    font-size: larger;
    margin: 0;
}

.CreateRating textarea {
    width: 100%;
    background-color: #c6f8c4e1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    font-size: inherit;
}

.CreateRating .StarRating {
    margin-top: 10px;
    margin-bottom: 5px;
}

.CreateRating span.rating-error {
    color: #e40000;
    font-size: 14px;
}

.CreateRating button#rating-submit {
    width: 100%;
    background-color: #94cc92e1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.CreateRating button#rating-submit:hover {
    background-color: #a1db9fe1;
}