.RatingPage {
    background:radial-gradient(ellipse at center, rgba(255, 255, 255, 0.603) 100%,
        rgba(245, 245, 245, 0.733) 100%,
        rgb(237, 237, 237) 100%), 
        url("./friends-eating-food.jpg") top/cover no-repeat border-box;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


.RatingPage .RatingComponent {
    margin-top: 15px;
    background-color: #95df93e1;
    width: 70vh;
    height: 97vh;
    border-radius: 10px;
}

.RatingTitleComponent{
    margin-top: 25px;
    width: 70vh;
    height: 15vh;
    border-radius: 10px;
    padding: 10px 20px;
}

.RatingsDataComponent{
    margin-top: 25px;
    width: 70vh;
    height: 40vh;
    border-radius: 10px;
    padding: 10px 10px;
    overflow-y: scroll;
}

.CreateRatingComponent{
    width: 70vh;
    height: 30vh;
    border-radius: 10px;
    padding: 2px 10px;
}

.RatingPage .RatingComponent h1 {
    text-align: center;
}

.RatingPage .RatingComponent h2 {
    font-weight: 500;
}

.RatingPage .RatingComponent .not-rated {
    text-align: center;
    margin: 50px 0;
}

/* scroll bar*/
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #94cc92e1; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #669165d8; 
  }