* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(background.png);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.menu-bar {
	background: rgb(0, 100, 0);
	text-align: left;
}

.logo {
	text-align: center;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li {
	width: 150px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.active, menu-bar ul li:hover {
	background: #2BAB0D;
	border-radius: 3px;
}

.menu-bar .fa {
	margin-right: 8px;
}

.sub-menu-1 {
	display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: rgb(0, 100, 0);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: #B2FF0;
}

.fa-angle-right {
	float: right;
}

.sub-menu-2 {
	display: none;
}

.hover-me:hover .sub-menu-2 {
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: rgb(0,100,0);
}