@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

body {
    /*
    background: #11998e;
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e); 
    background: linear-gradient(to bottom, #749c3b, #afce84); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    */
    background-image: url("/img/userBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.user-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 55px 55px;
    background: rgba(255, 255, 255, 0.548);
    align-items: center;
}

.calorie-data-button {
    border-radius: 28px;
    border: 2px solid var(--evosoft-color);
    color: var(--evosoft-color);
    display: block;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    align-self: center;
    margin: 5px;
}


.user-image{
    width: 80px;
    margin: 0;
}

.back {
    width: 40px;
    margin: 0;
    position: absolute;
    right: 860px;
    top: 10px;
    cursor: pointer;
}

.title {    
    font-weight: 400;
    margin-bottom: 50px;
}

.user-data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.user-data-container1,
.user-data-container2 {
    width: 300px;
}

.user-data-container1 p,
.user-data-container2 p {
    margin: 25px;
}