@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --evosoft-color: #749c3b;
}

img {
    width: 45%;
}

body {
    background-image: url("/img/userBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.55);
    width: 900px;
}

.head-icon {
    text-align: center;
    font-size: 5rem;
}

h1, h2 {
    text-align: center;
    font-weight: 400;
}

.footer-img {
    display: flex;
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    width: 300px;
    padding: 10px 20px;
    box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.408);
}

.submit {
    background-color: var(--evosoft-color);
    color: white;
}

input:hover,
.modify .bi:hover {
    transition-duration: 0.25s;
}

.submit:hover {
    background-color: #59772d;
}
